<div>
    <h2>Test</h2>
    <% relationships.forEach(relationship => { %>
        <p><%= relationship.firstName %> <%= relationship.lastName %></p>
        <p><%= relationship.name %></p>
    <% }); %>
</div>