<% if(studentInfo){ %>
    
    <div>
        <!-- studentInfo -->
        <h2><%= studentInfo[0].firstName %> <%= studentInfo[0].lastName %></h2>
        
        <% studentInfo.forEach(student => { %>
            <p><%= student.name %></p>
        <% }); %>
    </div>

<% } %>