<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <title>Document</title>
    <script src="./main.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>
<body>
    <h1><%- title %></h1>

    <a href="http://localhost:9000/students">View all students</a>
    <a href="http://localhost:9000/courses">View all courses</a>
    <a href="http://localhost:9000/studentsCourses">View the classes students attend</a>



    <div>
        <h2>Search students</h2>
        <form action="/" method="POST">
            <label for="studentSearch">Search for a student first/last name:</label>
            <input type="text" name="studentSearch" id="studentSearch">
            <button type="submit" name="searchStudentBtn">Search</button>
        </form>
        <h2>Results:</h2>
        <div>
            <%- include('partials/showStudentInfo') %>
        </div>
    </div>



    <div>
        <h2>Search Courses</h2>
        <form action="">
            <label for="searchCourse">Search for a course:</label>
            <input type="text" name="searchCourse" id="">
            <button>Search</button>
        </form>
        <div>
            <h3>Name</h3>
            <p><b>ID</b></p>
            <p>Description</p>
            <p>Students that take this course</p>
        </div>
    </div>
</body>
</html>