<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <h1><%- title %></h1>
    <!-- This does not work -->
    <%#- include('partials/showCourses') %>

    <a href="http://localhost:9000/students">View all students</a>
    <a href="http://localhost:9000/courses">View all courses</a>
    <a href="http://localhost:9000/studentsCourses">View the classes students attend</a>
</body>
</html>